<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=Inter:wght@400;500;600;700;800&display=swap">
    <link rel="stylesheet" href="{{asset "built/screen.css"}}">
    <link rel="stylesheet" href="{{asset "css/custom.css"}}">


    {{ghost_head}}
</head>

<body class="{{body_class}} home-template {{{block "body_class"}}} {{#if @site.description}}is-head-b--a_n{{else}}is-head-b--n--a{{/if}}{{#match @custom.title_font "=" "Elegant serif"}} has-serif-title{{/match}}{{#match @custom.body_font "=" "Elegant serif"}} has-serif-body{{/match}}{{#is "tag"}}{{#if tag.feature_image}} is-head-transparent{{/if}}{{/is}}{{#match @custom.header_style "Accent color"}} is-head-brand{{/match}}{{#match @custom.header_style "Dark"}} is-head-dark{{/match}}">
    <div class="gh-site">
        <header id="gh-head" class="gh-head gh-outer">
            <div class="gh-head-inner gh-inner">
                {{#if @site.description}}
                    <a class="gh-head-description" href="{{@site.url}}">{{@site.description}}</a>
                {{/if}}

                <div class="gh-head-brand">
                    <a class="gh-head-logo" href="{{@site.url}}">
                        {{#if @site.logo}}
                            <img src="{{@site.logo}}" alt="{{@site.title}}">

                            {{#if @custom.white_publication_logo_for_transparent_header}}
                                <img src="{{@custom.white_publication_logo_for_transparent_header}}" alt="{{@site.title}}">
                            {{/if}}
                        {{else}}
                            {{@site.title}}
                        {{/if}}
                    </a>
                    <button class="gh-burger"></button>
                </div>

                <nav class="gh-head-menu">
                    {{navigation}}
                </nav>

                {{!-- <div class="gh-head-actions">
                    {{#unless @member}}
                        <a class="gh-head-btn gh-btn gh-primary-btn" href="#/portal/signup" data-portal="signup">Subscribe</a>
                    {{else}}
                        <a class="gh-head-btn gh-btn" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div> --}}
            </div>
        </header>

        {{!-- {{navigation}} --}}

        {{{body}}}

        <footer class="gh-foot gh-outer">

            <!-- put the logos from official partners here, invert the colors -->
                <div class="gh-foot-logos">
                    <a class="gh-foot-logo" href="https://www.bzkj.de/" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0c/Bundeszentrale_f%C3%BCr_Kinder-_und_Jugendmedienschutz_Logo.svg/640px-Bundeszentrale_f%C3%BCr_Kinder-_und_Jugendmedienschutz_Logo.svg.png" alt="BZKJ">
                    </a>
                    <a class="gh-foot-logo" href="https://www.leuphana.de/institute/ifp/" target="_blank">
                        <img class="gh-foot-logo-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Leuphana_Universit%C3%A4t_L%C3%BCneburg_Logo_2020.svg/1200px-Leuphana_Universit%C3%A4t_L%C3%BCneburg_Logo_2020.svg.png" alt="Leuphana">
                    </a>
                    <a class="gh-foot-logo" href="https://www.jff.de/" target="_blank">
                        <img src="https://www.jff.de/typo3conf/ext/wph_theme/Resources/Public/Images/logo-jff-muenchen-institut-medienpaedgogik.png" alt="JFF">
                    </a>
                    <a class="gh-foot-logo" href="https://hans-bredow-institut.de" target="_blank">
                        <img src="{{asset "images/hbi.jpeg"}}" alt="HBI">
                    </a>
                    <a class="gh-foot-logo" href="https://uni-tuebingen.de/" target="_blank">
                        <img src="{{asset "images/ut.jpeg"}}" alt="Uni Tübingen">
                    </a>
                </div>
            <div class="gh-foot-inner gh-inner">
                
                

                <nav class="gh-foot-menu">
                    {{navigation type="secondary"}}
                </nav>

                <div class="gh-copyright">
                    {{#unless @custom.footer_text}}
                        {{@site.title}} © {{date format="YYYY"}}. Powered by <a href="https://ghost.org/" target="_blank" rel="noopener">Ghost</a>
                    {{else}}
                        {{@custom.footer_text}}
                    {{/unless}}
                </div>
            </div>
        </footer>
    </div>

    {{#is "post, page"}}
        {{> pswp}}
    {{/is}}
    <script>

    window.addEventListener('load', function() {
        // search for all class="gh-card-excerpt" and save in array
        var excerpt = document.getElementsByClassName("gh-card-excerpt");
        // append also all elements from class="gh-article-excerpt"
        excerpt = [...excerpt, ...document.getElementsByClassName("gh-article-excerpt")];
        // if found, parse innerHTML and search for [[ Attribute: Value ]]
        if (excerpt.length > 0) {
            for (var i = 0; i < excerpt.length; i++) {
                var text = excerpt[i].innerHTML;
                var regex = /\[\[([^\]]+)\]\]/g;
                var matches = text.match(regex);
                // if found, replace with <span class="gh-card-excerpt-attribute">Attribute</span> <span class="gh-card-excerpt-value">Value</span>
                if (matches) {
                    for (var j = 0; j < matches.length; j++) {
                        var match = matches[j];
                        //split on : except for http:// or https://
                        var split = match.split(/:(?![\/]{2})/);
                        var attribute = split[0].replace("[[", "");
                        var value = split[1].replace("]]", "");
                        //remove whitespace
                        attribute = attribute.replace(/^\s+|\s+$/g, '');
                        value = value.replace(/^\s+|\s+$/g, '');
                        var replacement = "";
                        switch (attribute) {
                            case "Telefon":
                                replacement = 
                                "<div class='meta'><img src='{{ asset 'images/phone-fill.png' }}' alt=''><span class='meta-value'><a href='tel:" + value + "'>" + value + "</a></span></div>";
                                break;
                            case "Mail":
                                replacement = 
                                "<div class='meta'><img src='{{ asset 'images/mail-fill.png' }}' alt=''><span class='meta-value'><a href='mailto:" + value + "'>" + value + "</a></span></div>";
                                break;
                            case "Website":
                                replacement = 
                                "<div class='meta'><img src='{{ asset 'images/pages-fill.png' }}' alt=''><span class='meta-value'><a href='" + value + "'>" + value + "</a></span></div>";
                                break;
                            default:
                                break;
                        }
                        text = text.replace(match, replacement);
                    }
                    excerpt[i].innerHTML = text;
                }
            }
        }
    });

</script>
    <script src="{{asset "built/main.min.js"}}"></script>

    {{ghost_foot}}
</body>

</html>